# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Project specific
input/
output/
slides/
translations/
charts/
Tables/
plaintext/
layout/
glossaryfile/ 